@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif, 
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

.auth-input {
  @apply outline-0 border-[1px] w-full h-12 placeholder-black-placeholder
  border-gray-border rounded-lg px-5 py-4
}

.save-button {
  @apply bg-primary p-4 py-3 rounded-md text-white font-semibold text-sm 
  hover:bg-opacity-90 transition duration-300
}

.profile-save-button {
   @apply bg-primary p-4 py-3 rounded-md text-white font-semibold text-sm 
  hover:bg-opacity-90 transition duration-300
}

.profile-input {
  @apply outline-none border-[#C5C5C5] border-[1px] flex-1 rounded-lg px-5 min-h-[45px] font-medium
}

.province-input {
  @apply outline-none border-[#C5C5C5] border-[1px] block rounded-lg px-5 h-[45px] font-medium sm:flex-1
}

a.font-bold.text-primary {
  cursor: pointer;
}

a.font-bold.text-primary:hover {
  text-decoration: underline;
}

.delivery-input {
  @apply outline-0 border-[1px] w-full h-12 placeholder-black-placeholder
  border-gray-border rounded-lg px-5
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #E16246;
}

.auth-input-err {
  @apply outline-0 border-[1px] w-full h-12 placeholder-black-placeholder
  border-red-500 rounded-lg px-5 py-4
}

.address-modal {
  @apply flex flex-col justify-start  bg-white rounded-lg overflow-auto pt-8 pb-7  relative md:w-[640px] sm:w-[600px] max-h-[90%]  px-4 sm:px-10 md:px-14 lg:px-20 w-full mx-4 sm:mx-0 
}

.province-combobox {
  @apply outline-0 border-[1px] w-full h-12 placeholder-black-placeholder
  border-gray-border rounded-lg px-4
}

.profile-div {
  @apply flex flex-col sm:flex-row mt-6 justify-between text-sm sm:items-center gap-x-10 md:gap-x-24 lg:gap-x-32 gap-y-2
}

.address-modal-layer {
  @apply flex items-center justify-center h-full top-10 w-full bg-opacity-70 duration-300 transition-opacity fixed bg-gray-500
}