@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif, 
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

.auth-input {
  @apply outline-0 border-[1px] w-full h-12 placeholder-black-placeholder
  border-gray-border rounded-lg px-5 py-4
}

.save-button {
  @apply absolute right-0 bg-primary p-4 py-3 rounded-md text-white font-semibold text-sm 
  hover:bg-opacity-90 transition duration-300
}

.profile-input {
  @apply outline-none border-gray-border border-[1px] w-full rounded-lg px-5 py-3 ml-52
}